fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.39.0
langchain==0.3.7
langchain-community==0.3.7
langchain-experimental==0.3.2
langgraph==0.2.31
groq==0.11.0
wikipedia==1.4.0
requests==2.32.3
python-dotenv==1.0.1
